button {
    height: 50px;
    width: 80px;
}

div#textcontainer {
    height: 500px;
    width: 300px;
    background-color: grey;
}

div#ui_container {
    visibility: hidden
}

div#action_pane {
    visibility: hidden
}

div#message_container {
    visibility: hidden;
    width: 600px;
    height: 200px;
    overflow: scroll;
}

/*
.action_pane_button {
    visibility: hidden
}*/

.ui_table_td {
    width: 100px;
    align-content: center;
}

#action_pane_selected {
    width: 300px;
    align-content: center;
}

canvas {
    width: 600px;
    height: 500px;
}